
/* h1{ */
    /* font-size: 20px; */
    /* color: #000; */
    /* color: rgba(0 0 0 0.5); ya no es importante las comas en las versiones nuevas */
    
/* } */

/* Por default en el selector html se le asignana 17px en el font */
/* Aplicar el box sizing a todos los elementos */
/* Snippet de internet desarrollado por Paul Irish */
 html {
    /* no modifica el tama;o del elemento cuando se agrega un padding o un width */
    box-sizing:  border-box;
    /* un 1rem sera 10px con 62.5% font sizes */
    font-size: 62.5%;
 }
 *,*:before, *:after{
    box-sizing: inherit;
 }

 body{
    font-family: 'Raleway', sans-serif;
    font-style: 1.6rem;
    /* interlineado para que el texto de los parrafos no este unidos */
    line-height: 1.5;
 }
 /* Globales */

 h1,h2,h3{
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
 }
 h1{
    font-size: 5rem;
 }
 h2{
    font-size: 4rem;
 }
 h2,h3{
    font-size: 3rem;
 }

 a{
    text-decoration: none;
    color: #000;
 }
 p{
    font-size: 1.5rem;
 }



 .contenedor {
    max-width: 120rem;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    /* margin: 0 auto 0 auto; */
    margin: 0 auto;
    /* margin-inline: auto; */
 }

 /*  para tomar el tama;o disponible de area del contenedor del grid */
 img {
    max-width: 100%;
    /* elimina el espacio entre la img y el elemento siguiente  que se 
    encuentra de bajo
     */
    display: block;
 }

 /* Utilidades */
 .text-center{
    text-align: center;
 }

.btn{
    background-color: #8cbc00;
    color: #fff;
    /* Toma todo el ancho dispible */
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    /* transiciones  
        tiene tres valores el primero es
        que se va animar 
        el segundo es la duracion 
        y el tercero el efecto
    */
    transition: background-color .3s ease-out ;
 }

 .btn:hover{
    background-color: #769c02;
 }
 /* Header y navegacion */
 .nombre-sitio{
    margin-top: 5rem;
    text-align: center;
 }

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{ 
    /* el border se explande pero la navegacion no */
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px; */
    border-top: .1rem solid #e1e1e1;

}

.nav-principal{
    /* la navegacion no se expande  */
    /* padding: 20px 0px 20px 0px; ahorar lineas de codigo  */
    padding: 2rem 0;
    /* se habilita el flex en esos elementos */
    display: flex;
    /* No  es necesario usarlo al menos que necesites o que se tenga unn scree
       mayor
    */
    /* flex-direction: row;  pordefault es row*/
    /* justify espece beteween es porque por default es row */
    justify-content: space-between;
    font-size: 1.5rem;
}

/* para mostrar una img se necesita tener un espacio donde mostrarla 
    no basta con tener la img declarada si no se tiene un espacio donde 
    mostrarla por lo tanto es necesario tener un height o otra propiedad que te 
    de un espacio sufuciente para poder mostrar la img
*/
.hero{
    background-image: url(../imgs/principal.jpg);
    /* para que no se repita la img */
    background-repeat: no-repeat;
    /* para tomar todo el espacio disponile  */
    background-size: cover;
    /* valor 1px iz to der segundo 1px de arriba abajo */
    /* background-position: 1px 1px; */
    background-position: center center;
    height: 55rem;
}

/* Categorias */
.listado-categorias{

    display: grid;
    /* para crear columnas */
    /* grid-template-columns: column1 column2 column3 column4; */
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4,200px); */
    grid-template-columns: repeat(3, 1fr);
    /* Separacion de elementos con gap */
    gap: 2rem;
    /* height: 300px; */
    /* para crear filas */
    /* grid-template-rows: 100px 100px; */
    /* grid-template-rows: 1fr 1fr; */
    /* para crear areas */

}
.categorias{
    /* Manejando espacios en blanco */
    padding-top: 5rem;
}
.contenido-principal h2,
.categorias h2{
    text-align: center;
}

.categoria a{
    /* porque no funciona porque los a tienen es un display inline si
        lo quieres alinear no es posible para poder usarlo se necesita
        cambiarlo a block 
    */
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

/* hover es cuando te posiscionas en un elemento es decir que cuando
me situe por encima o pase por encima de a entonces se activara un hover

*/
.categoria a:hover{
    /* color de fondo */
    background-color: #037bc0;
    /* color del texto */
    color: #fff;
    border-bottom-right-radius: 1rem;
}


/* Bloque Nosotros */
.sobre-nosotros{
    /* linear-gradient( to right -> es para darle la direccion ala gradiente
    segundo valor es el color del degradado) */
    /* De 0 a 50 sera el primer color y de 51 a 100 el siguiente color */
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%),
    url(../imgs/nosotros.jpg);/* agregar imagen */
    background-position: left center;
    background-repeat: no-repeat;
    /* cuando se tiene dos background entonces se usan dos valores en la propiedad
       en este caso esta el background gradient y el background image
    */
    background-size: 100%, 120rem;

    /* para que se muestre la imagen */
    padding: 10rem 0;
    margin-top: 5rem;
}

/* .sobre-nosotros-grid{ */
    /* display: grid; */
    /* repetelo 2 veces con la misma cadida de espacio 1 fr */
    /* grid-template-columns: repeat(2, 1fr); */
    /* Para darle espacio a la columna y el elemto se separa de la linea*/
    /* column-gap: 8rem;
} */

/* .texto-nosotros{ */
    /* Esto indica la posicion del elemento
       en este caso se posicionara en la linea 2 a la 3
    */
    /* grid-column: 2 / 3;
    color: #fff;
} */

/* Con flexbox  */
.sobre-nosotros-grid{
    /* habilitar flexbox */
    display: flex;
    /* centrarlo de lado derecho o al final porque es una fila  */
    justify-content: flex-end;
}

.texto-nosotros{
    /* Para darle un ancho y se corta al 50% */
    flex-basis: 50%;
    /* padding de 5 rem de lado izq  */
    padding-left: 5rem;
    color: #fff;
}

/* Listado de productos */

.contenido-principal{
    /* Separacion */
    padding-top: 5rem;
}
.producto{
    background-color: #037bc0;
}

.texto-producto{
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
    /* font-size: 1.5rem; */
}



.listado-productos{
    display: grid;
    /* Seis columnas */
    grid-template-columns: repeat(6,1fr);
    /* el grid crece automaticamente no se necesita delcara las row */
    /* grid-template-rows: repeat(3, 1fr); */
    /* column-gap: 2rem;
    row-gap: 2rem; */
    gap: 1.5rem;
    
}

.producto:nth-child(1){
    /* grid-column: 1 / 7; */
    grid-column-start: 1;
    grid-column-end: 7;

    /* posicionar una img del lado derecho */
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.producto:nth-child(1) img{
    /* Le das una dimension a la img y luego con obejct fit llenas el espacio
        con la img, el height y width solo son para darle tama;ao al box de la
        imagen
    */
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2){
    /* grid-column: 1 / 7; */
    grid-column-start: 1 ;
    grid-column-end: 4;
}
.producto:nth-child(2) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(3){
    /* grid-column: 1 / 7; */
    grid-column-start: 4 ;
    grid-column-end: 7;
}
.producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(4){
    /* grid-column: 1 / 7; */
    grid-column-start: 1 ;
    grid-column-end: 3;

}
.producto:nth-child(4) img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(5){
    /* grid-column: 1 / 7; */
    grid-column-start: 3 ;
    grid-column-end: 5;

}
.producto:nth-child(5) img{
    height: 25rem;
    width: 100%;
    object-fit: cover;   
}
.producto:nth-child(6){
    /* grid-column: 1 / 7; */
    grid-column-start: 5 ;
    grid-column-end: 7;

}
.producto:nth-child(6) img{
    height: 25rem;
    width: 100%;
    object-fit: cover;   
}

/* footer */

/*ESTILOS: Modulos, BEM, SMACSS */
/* .navegacion {
    background-color: #e1e1e1;
    text-transform: uppercase;
} */

/* Box Model */
/* .sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px; */
    /* box-sizing: border-box; */
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */
/* } */

/* display inline y block  */


/* footer a{
    text-transform: uppercase;
} */



/* Este selector es mas generico y si despues hay una clase se tomara la class */
/* nav a{
    text-transform: uppercase;
} */

/* nav.navegacion{
para idicar que el nav estas modificacndo sin el espacio en esta ocacion
} */

/* Este maneja mejor la especificidad al agregarle una class */
/* .navegacion a{
    text-transform: lowercase;
}

#navegacion a {
    text-transform: capitalize;
} */

/* h2 span{
    color: green;
}

section h2{

}

main h3 {

}

footer a{
    text-transform: uppercase;
}

nav a:nth-child(1){
    text-transform: uppercase;
    font-size: 50px;
} */