
h1{
    /* font-size: 20px; */
    color: #000;
    /* color: rgba(0 0 0 0.5); ya no es importante las comas en las versiones nuevas */
    
}

h1 span{
    color: #037bc0;
}

footer a{
    text-transform: uppercase;
}

a{
    text-transform: lowercase;
}

/* h2 span{
    color: green;
}

section h2{

}

main h3 {

}

footer a{
    text-transform: uppercase;
}

nav a:nth-child(1){
    text-transform: uppercase;
    font-size: 50px;
} */