
/* h1{ */
    /* font-size: 20px; */
    /* color: #000; */
    /* color: rgba(0 0 0 0.5); ya no es importante las comas en las versiones nuevas */
    
/* } */

/* Aplicar el box sizing a todos los elementos */
/* Snippet de internet desarrollado por Paul Irish */
 html {
    box-sizing:  border-box;
 }
 *,*:before, *:after{
    box-sizing: inherit;
 }

 /* Globales */

 a{
    text-decoration: none;
    color: #000;
 }

 .contenedor {
    max-width: 1200px;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    /* margin: 0 auto 0 auto; */
    /* margin: 0 auto; */
    margin-inline: auto;
 }

 /*  para tomar el tama;o disponible de area del contenedor del grid */
 img {
    max-width: 100%;
 }

 /* Header y navegacion */


 .nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
 }

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{ 
    /* el border se explande pero la navegacion no */
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px; */
    border-top: 1px solid #e1e1e1;

}

.nav-principal{
    /* la navegacion no se expande  */
    /* padding: 20px 0px 20px 0px; ahorar lineas de codigo  */
    padding: 20px 0px;
    /* se habilita el flex en esos elementos */
    display: flex;
    /* No  es necesario usarlo al menos que necesites o que se tenga unn scree
       mayor
    */
    /* flex-direction: row;  pordefault es row*/
    /* justify espece beteween es porque por default es row */
    justify-content: space-between;
}

/* para mostrar una img se necesita tener un espacio donde mostrarla 
    no basta con tener la img declarada si no se tiene un espacio donde 
    mostrarla por lo tanto es necesario tener un height o otra propiedad que te 
    de un espacio sufuciente para poder mostrar la img
*/
.hero{
    background-image: url(../imgs/principal.jpg);
    height: 550px;
    /* para que no se repita la img */
    background-repeat: no-repeat;
    /* para tomar todo el espacio disponile  */
    background-size: cover;
}

/* Categorias */
.listado-categorias{

    display: grid;
    /* para crear columnas */
    /* grid-template-columns: column1 column2 column3 column4; */
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4,200px); */
    grid-template-columns: repeat(3, 1fr);
    /* Separacion de elementos con gap */
    gap: 20px;
    /* height: 300px; */
    /* para crear filas */
    /* grid-template-rows: 100px 100px; */
    /* grid-template-rows: 1fr 1fr; */
    /* para crear areas */

}

/*ESTILOS: Modulos, BEM, SMACSS */
/* .navegacion {
    background-color: #e1e1e1;
    text-transform: uppercase;
} */

/* Box Model */
/* .sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px; */
    /* box-sizing: border-box; */
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */
/* } */

/* display inline y block  */


/* footer a{
    text-transform: uppercase;
} */



/* Este selector es mas generico y si despues hay una clase se tomara la class */
/* nav a{
    text-transform: uppercase;
} */

/* nav.navegacion{
para idicar que el nav estas modificacndo sin el espacio en esta ocacion
} */

/* Este maneja mejor la especificidad al agregarle una class */
/* .navegacion a{
    text-transform: lowercase;
}

#navegacion a {
    text-transform: capitalize;
} */

/* h2 span{
    color: green;
}

section h2{

}

main h3 {

}

footer a{
    text-transform: uppercase;
}

nav a:nth-child(1){
    text-transform: uppercase;
    font-size: 50px;
} */